*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Poppins', sans-serif;
}

html.active{
	overflow:hidden;
	height:100vh !important;
	width:100vw !important;
}

body.active{
	overflow:hidden !important;
	height:100vh !important;
	width:100vw !important;
	background-color:green;
}

.sidebar{
	height:100vh;
	width:100vw;
	background-color:#404040;
	position:fixed;
	top:0;
	left:0;
	display:flex;
	flex-direction:column;
}

.sidebar a{
	padding:15px 30px;
	color:white;
	font-size:130%;
	text-transform:uppercase;
	border-bottom:1px solid gray;
	font-weight:600;
	transition:0.1s;
	text-decoration:none;
}

.sidebar a span.active{
	border-inline:2px solid white;
	padding:0px 8px;
}

.sidebar a:hover span{
	opacity:0.9;
}

.sidebar a:last-child{
	border:none;
}



.container-fluid{
	min-height:100vh;
	max-width:100vw;
	background-color:#1a1a1a;
	position:relative;
	transition:all 0.2s;
}

.container-fluid.active{
	transform:rotate(15deg) translateX(130px);
	transform-origin:0px 100vh;
	height:100vh;
	overflow:hidden;
}

.container-fluid .toggle{
	height:32px;
	width:45px;
	/*border:1px solid white;*/
	position:absolute;
	top:15px;
	left:10px;
	border-radius:5px;
	cursor:pointer;
	z-index:10;
}

.container-fluid .toggle:before{
	content:'';
	width:80%;
	height:2px;
	background-color:white;
	position:absolute;
	top:7px;
	left:5px;
	transition:all 0.5s;
}

.container-fluid .toggle:after{
	content:'';
	width:80%;
	height:2px;
	background-color:white;
	position:absolute;
	top:14px;
	left:5px;
	transition:all 0.5s;
}

.container-fluid .toggle span{
	content:'';
	width:80%;
	height:2px;
	background-color:white;
	position:absolute;
	top:21px;
	left:5px;
	transition:all 0.5s;
}

.container-fluid .toggle.active:before{
	transform:translateY(7px) rotate(-45deg);
}

.container-fluid .toggle.active span{
	transform:translateY(-7px) rotate(45deg);
}

.container-fluid .toggle.active:after{
	transform:rotate(-45deg);
}

/*.container-fluid .toggle:before.active{
		background-color:blue !important;
}*/

.color_block{
	position:fixed;
	height:200%;
	width:100%;
	left:-83%;
	top:-50%;
	/*background-color:#ffb400;*/
	transform:rotate(-15deg);
	z-index:1;
}

.details{
	min-height:100vh;
	width:100%;
	display:flex;
	align-items:center;
	position:relative;
}

.details .profile_img{
	/*background-image:url(images/img1.png);*/
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top;
	height:calc(100vh - 80px);
	z-index:2;
	border-radius: 30px;
	position:relative;
	left:40px;
	/* box-shadow: 0 0 7px rgba(0,0,0,.9); */
	/*max-width:33.33%;*/
	/* background-color:#1a1a1a; */
	filter:brightness(115%) contrast(100%) blur(0px);
}

.details .text-wrapper{
	float:right !important;
	display:flex;
	flex-direction:column;
	/*align-items:center;*/
}

.details .text-wrapper h1{
	text-align:left;
	text-transform:uppercase;
	/*color:#ffb400;*/
	font-size:300%;
}

.details .text-wrapper h1 span{
	color:white;
}

.details .text-wrapper p{
	display:flex;
	justify-content:center;
	color:white;
	line-height:2;
}

.details .text-wrapper a{
	text-decoration:none;
	transition:all 1.2s;
}

.details .text-wrapper a span{
	text-transform:uppercase;
	padding:15px 35px;
	padding-right:60px;
	color:transparent;
	font-weight:bold;
	border-radius:35px;
	position:relative;
	position:relative;
	overflow:hidden !important;
	transition:all 0.5s;
}

.details .text-wrapper a span .text{
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:flex;
	align-items:center;
	padding:15px 35px;
	color:white;
	z-index:3;
}

.details .text-wrapper a span i{
	position:absolute;
	height:47px;
	width:47px;
	right:1%;
	top:0;
	bottom:0;
	font-size:150%;
	border-radius:50%;
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	z-index:1;
}

.details .text-wrapper a span .bg{
	content:'';
	height:100%;
	width:0%;
	border-radius:35px;
	/*background-color:#ffb400;*/
	z-index:3;
	position:absolute;
	top:0;
	right:0;
	transform:translateX(-20px);
	transition:width 0.5s;
	z-index:0;
	/*border-radius:35px;*/
	border-radius:35px 0px 0px 35px;
	/*mix-blend-mode:overlay;*/
}

.details .text-wrapper a span:hover .bg{
	width:calc(100% - 20px);
}

.details .icon_menu{
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding:0;
	position:fixed;
	top:0;
	right:20px;
	width:180px;
	z-index:9;
}

.details .icon_menu a{
	text-decoration:none;
	text-transform:uppercase;
	/*background-color:#ffb400;*/
	background-color:transparent;
	color:transparent;
	border-radius:35px;
	position:relative;
	transition:all 0.3s;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}

.details .icon_menu a span{
	/*background-color:#ffb400;*/
	color:white;
	height:100%;
	display:flex;
	align-items:center;
	padding-right:20px;
	padding-left:15px;
	border-radius:35px 0px 0px 35px;
	transform:translateX(20px);
	opacity:0;
	/*transition:all 0.5s;*/
}

.details .icon_menu a i{
	/*background-color:#2b2a2a;*/
	color:white;
	height:47px;
	width:47px;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	z-index:2;
	transition:font-size 0.5s;
}

.details .icon_menu a i{
	/*background-color:#ffb400;*/
	/*filter:blur(1px);*/
	opacity:0.7;
}

.details .icon_menu a:hover i{
	/*filter:blur(0px);*/
	opacity:1;
	font-size:130%;
}

.details .icon_menu a i.active{
	/*filter:blur(0px);*/
	opacity:1;
	font-size:130%;
}

.details .icon_menu a:hover span{
	opacity:1;
}

.style_switcher_icon{
	position:fixed;
	top:0px;
	right:30px;
	/*background-color:white;*/
	background: rgb(128,128,128);
	background: linear-gradient(180deg, rgba(128,128,128,1) 0%, rgba(255,255,255,1) 14%, rgba(128,128,128,1) 100%);
	height:50px;
	width:50px;
	z-index:99;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:0px 0px 5px 5px;
	transition:transform 0.2s;
}

.style_switcher_icon i{
	color:black;
	animation:styleIcon 2s linear infinite;
}

@keyframes styleIcon{
	0%{
		transform:rotate(0deg);
	}

	100%{
		transform:rotate(360deg);
	}
}

.style_switcher_conti{
	height:150px;
	width:200px;
	position:fixed;
	top:10px;
	right:30px;
	z-index:99;
	border-radius:0px 0px 5px 5px;
	transition:top 0.2s;
	padding:10px;
	visibility:hidden;
	background-color:white;
	overflow:hidden;
}

.style_switcher_conti img{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	right:0;
	z-index:-1;
	transform:scale(1.2);
}

.style_switcher_conti p{
	font-weight:500;
	z-index:1;
}

.style_switcher_conti .color{
	width:20%;
	float:left;
	font-size:200%;
	display:flex;
	justify-content:center;
	margin-top:8px;
	z-index:1;
}

.details .dh-container{
	width:32%;
	background-color:#f0f0f0;
	border-radius:5px;
	position:relative;
	padding:0;
}

.details .dh-container .dh-overlay{
	position: absolute;
  top:-100%;
	height:100%;
	width:100%;
	/*background-color:orange;*/
	display:flex;
	justify-content:center;
	align-items:center;
}

.details .dh-container .dh-overlay a{
	text-decoration:none;
		font-family: 'Ubuntu', sans-serif;
  font-size:200%;
  font-weight: bold;
  color: #dfdfdf;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 0 2px 2px #dfdfdf, 
      -2px 5px 1px #cbcbcb,
      -4px 8px 1px #979797, 
      -6px 11px 1px #a2a2a2, 
      -8px 14px 1px #aeaeae, 
      -10px 17px 1px #b5b5b5;
}
/*
.details .dh-container .dh-overlay a{
	text-decoration:none;
	color:white;
	font-weight:bold;
	font-size:130%;
	letter-spacing:2px;
	background-color:#333333;
	border-radius:0px 30px 0px 30px;
	padding:8px 20px;
	position:relative;
	border-right:3px solid white;
	border-left:3px solid white;
	box-shadow:0px 0px 10px white;
}

.details .dh-container .dh-overlay a:hover{
	box-shadow:0px 0px 20px white;
}*/

.details .title{
	color:white;
	text-align:center;
}

.details .title{
	color:white;
	text-transform:uppercase;
	font-size:320%;
	font-weight:bolder;
}

.details .title span{
	/*color:#ffb400;*/
}

.cont_left{
	text-align:left;
}

.cont_left > div .unique_icon1{
	color:lime;
	animation:unique_icon1 4s ease infinite;
}

.cont_left > div .unique_icon2{
	color:lime;
	animation:unique_icon2 1.8s linear infinite alternate;
}


@keyframes unique_icon1{
  9% {
    transform: none;
  }
  12% {
    transform: scale(1.05);
  }
  16% {
    transform: scale(0.95);
  }
  20% {
    transform: scale(1.03);
  }
  24% {
    transform: scale(1);
  }
}

@keyframes unique_icon2{
	0%{
		transform:rotate(0deg) scale(1.2);
	}

	10%{
		transform:rotate(-9deg);
	}

	100%{
		transform: rotate(-9deg);
	}
}



.details .cont_left h3{
	color:white;
	text-transform:uppercase;
}

.details .cont_left p{
	color:rgba(255, 255, 255, 0.8);
}

.details .cont_left .social_icon{
	display:flex;
}

.details .cont_left .social_icon i{
	color:white;
	background-color:#2b2a2a;
	border-radius:50%;
	height:40px;
	width:40px;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:130%;
}

.details .cont_right form .form_div{
	display:flex;
	justify-content:space-between;
}

.details .cont_right form label{
	width:30%;
	background-color:#252525;
	border-radius:35px;
}

.details .cont_right form label input{
	width:100%;
	background-color:transparent;
	border:1px solid transparent;
	outline:none;
	padding:12px 25px;
	color:white;
	border-radius:35px;
}

.details .cont_right form label input:focus{
	/*border:1px solid #ffb400;*/
}

.details .cont_right form label textarea{
	width:100%;
	background-color:transparent;
	border:none;
	outline:none;
	resize:none;
	padding:12px 25px;
	color:white;
	border:1px solid transparent;
	border-radius:35px;
}

.details .cont_right form button{
	background-color:transparent;
	color:white;
	/*border:1px solid #ffb400;*/
	padding-left:35px;
	border-radius:35px;
	font-weight:bold;
	text-transform:uppercase;
	display:flex;
	align-items:center;
	position:relative;
	overflow:hidden;
}

.details .cont_right form button i{
	height:47px;
	width:47px;
	border-radius:50%;
	/*background-color:#ffb400;*/
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
	right:0;
	z-index:2;
}

.details .cont_right form button span{
	height:47px;
	width:47px;
	border-radius:35px 0px 0px 35px;
	background-color:#ffb400;
	position:absolute;
	right:0;
	transition:width 0.4s;
	z-index:1;
}

.details .cont_right form button:hover span{
	width:100%;
}

.personal_info{

}

.personal_info h3{
	color:white;
	text-transform:uppercase;
}

.personal_info li{
	float:left;
	width:25%;
	color:white;
	list-style:none;
	text-transform:capitalize;
}

.personal_info li span:first-child{
	color:rgba(255, 255, 255, 0.7);
}

.personal_info li span:last-child{
	font-weight:600;
}

hr{
	border-top:1px solid rgba(255, 255, 255, 0.3);
	max-width:40% !important;
}

/*
.my_skills h3{
	color:white !important;
	text-transform:uppercase;
	text-align:center;
}
*/

.s_card{
	text-align:center;
}

.s_card .percent{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
}

.s_card .percent .number{
	display:flex;
	justify-content:center;
	align-items:center;
	position:absolute;
	height:100%;
	width:100%;
}

.s_card .percent .number h3{
	color:white;
}

.s_card .text{
	color:white;
	text-transform:uppercase;
}

.s_card .percent svg{
  position:relative;
  width:120px;
  height:120px;
}

.s_card .percent .bg_circle{
	height:121px;
	width:121px;
	border-radius:50%;
	border:8px solid #262626;
	outline:1px solid rgba(255, 255, 255, 0.5);
	box-shadow:0 0 0 1px rgba(255, 255, 255, 0.5) inset;
	position:absolute;
}

.s_card .percent svg circle{
  fill:none;
  /* stroke:; */
  stroke-width:6;
  stroke-linecap:round;
  transform:translateY(-1px) rotate(-90deg);
  transform-origin:center;
  position:absolute;
}

.s_card .percent svg circle{
  stroke-dasharray:440;
  stroke-dashoffset:440;
  /*stroke:#ffb400;*/
}

.s_card:first-child .percent svg circle{
  stroke-dashoffset:-26;
}

.s_card:nth-child(2) .percent svg circle{
  stroke-dashoffset:-26;
}

.s_card:nth-child(3) .percent svg circle{
  stroke-dashoffset:-48;
}

.s_card:nth-child(4) .percent svg circle{
  stroke-dashoffset:-48;
}

.s_card:nth-child(5) .percent svg circle{
  stroke-dashoffset:-26;
}

.s_card:nth-child(6) .percent svg circle{
  stroke-dashoffset:-68;
}

.s_card:nth-child(7) .percent svg circle{
  stroke-dashoffset:-92;
}

.s_card:nth-child(8) .percent svg circle{
  stroke-dashoffset:-48;
}

.s_card:nth-child(9) .percent svg circle{
  stroke-dashoffset:-48;
}

.s_card:nth-child(10) .percent svg circle{
  stroke-dashoffset:-48;
}

.s_card:last-child .percent svg circle{
  stroke-dashoffset:-48;
}

/*loader animation design starts here*/


.loader{
	position:fixed;
	height:100vh;
	width:100vw;
	display:flex;
	justify-content:center;
	align-items:center;
	z-index:999999;
	/*background-color:#ffc266;*/
	background:lightblue;
	transition:all 4s;
}

.loader .loader_bg{
	position:absolute;
	bottom:0;
	left:0;
	height:70vh;
	width:auto;
	transform:translateX(0);
	display:flex;
	animation:loaderBg 1.5s linear infinite;
}

@keyframes loaderBg{
	0%{
		transform:translateX(0);
	}

	100%{
		transform:translateX(-100vw);
	}
}

.loader .loader_bg > img{
	height:100%;
	width:50vw;
	transform:scale(1.3);
}

.loader .wrapper{
	height:200px;
	width:200px;
	transform:translateY(-55%);
}

.loader .wrapper img{
	height:100%;
	width:100%;
	transform:rotate(20deg);
	animation:loaderImg 0.1s linear infinite;
	transform-origin:left;
	filter:blur(0.5px) drop-shadow(3px -1px gray);
}

@keyframes loaderImg{
	0%{
		transform:rotate(20deg) translateY(0px);
	}

	100%{
		transform:rotate(20deg) translateY(-4px);
	}
}

.loader .line_wrapper{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}

.loader .line_wrapper .line{
	width:100%;
	height:2px;
	display:flex;
	justify-content:space-around;
	/*animation:lineAnim 0.3s linear infinite;*/
	transform:translateX(100%);
}

.loader .line_wrapper .line:first-child{
	/*animation-delay:0.2s;*/
	animation:lineAnim 0.67s linear infinite;
}

.loader .line_wrapper .line:nth-child(2){
	/*animation-delay:0.4s;*/
	animation:lineAnim 0.5s linear infinite;
}

.loader .line_wrapper .line:nth-child(3){
	animation-delay:-1s;
	animation:lineAnim 0.5s linear infinite;
}

.loader .line_wrapper .line:nth-child(4){
	animation-delay:-1s;
	animation:lineAnim 0.34s linear infinite;
}

/*.loader .line_wrapper .line:last-child{
	animation-delay:1s;
	animation:lineAnim 0.6s linear infinite;
}*/

.loader .line_wrapper .line .dash{
	width:15%;
	/*height:100%;*/
	/* border:; */
	background-color:black;
}

/*.loader .line_wrapper .line .dash:last-child{
	width:40% !important;
}*/

@keyframes lineAnim{
	0%{
		transform:translateX(100%);
	}

	100%{
		transform:translateX(-100%);
	}
}



/*loader animation design starts here*/





/*responsive design starts*/


@media (max-width: 450px){

	.my_skills .col{
		width:100% !important;
	}

	.details .text-wrapper h1{
		text-align:center;
		font-size:140% !important;
	}

}



@media (max-width: 575px){
	
	.details .text-wrapper h1{
		text-align:center;
		font-size:180%;
	}

	.details .text-wrapper p{
		text-align:center;
	}

	.details .profile_img{
		border-radius:50%;
		box-shadow:none;
		border:4px solid #262626;
		left:0px;
		margin-bottom:-100px;
	}

	.personal_info li{
		width:100%;
		line-height:2;
	}

	.personal_info h3{
		text-align:center;
	}

	.details .title{
		font-size:260%;
	}

	.details .dh-container{
		width:85%;
	}

	.details .cont_right form .form_div{
		display:flex;
		flex-direction:column;
		align-items:center;
	}

	.details .cont_right form label{
		width:100%;
	}

}



@media (min-width: 576px){

	.details .text-wrapper h1{
		text-align:center;
		font-size:220%;
	}

	.details .text-wrapper p{
		text-align:center;
	}

	.details .profile_img{
		border-radius:50%;
		box-shadow:none;
		border:4px solid #262626;
		left:0px;
		margin-bottom:-100px;
	}

	.personal_info li{
		width:100%;
		line-height:2;
	}

	.details .title{
		font-size:320%;
	}

	.details .dh-container{
		width:45%;
	}

	.details .cont_right form .form_div{
		display:flex;
		flex-direction:column;
		align-items:center;
	}

	.details .cont_right form label{
		width:100%;
	}


}





@media (min-width: 768px){

	.details .text-wrapper h1{
		text-align:center;
		font-size:220%;
	}

	.details .text-wrapper p{
		text-align:center;
	}

	.details .profile_img{
		border-radius:50%;
		box-shadow:none;
		border:4px solid #262626;
		left:0px;
		margin-bottom:-100px;
	}

	.personal_info li{
		width:100%;
		line-height:2;
	}

	.details .dh-container{
		width:45%;
	}

	.details .cont_right form .form_div{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
	}

	.details .cont_right form label{
		width:30%;
	}


}





@media (min-width: 992px){

	.container-fluid{
		padding-bottom:0px;
	}

	.details .text-wrapper h1{
		font-size:180%;
		text-align:left;
	}

	.details .text-wrapper p{
		text-align:left;
	}

	.details .profile_img{
		border-radius: 30px;
		box-shadow: 0 0 7px rgba(0,0,0,.9);
		border:none;
		left:40px;
		margin-bottom:0;
	}

	.personal_info li{
		width:50%;
		line-height:2;
	}

	.details .dh-container{
		width:30%;
	}
	
}


@media (min-width: 1200px){
	.details .text-wrapper h1{
		font-size:250%;
	}

	.personal_info li{
		width:30%;
	}
}




@media (min-width: 1400px){
	
	

}


/*responsive design ends*/